@{
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal totalExtranjero = (decimal)ViewBag.totalLocalExtranjero;
}

<div class="row">
    <div class="col-12">
        <label>Total local</label>
        <b>@totalLocal</b>
        <label>Total local extranjero</label>
        <b>@totalExtranjero</b>
    </div>
</div>